<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>profile</title>
  </head>
  <body class="bg-gray-50 text-gray-800" onclick="hideDropdown(event)">
    <nav class="bg-white shadow p-4">
      <div class="container mx-auto flex justify-between items-center">
        <span class="font-bold text-xl text-blue-500">EVENTURE</span>
        <div class="relative flex items-center">
          <button id="dropdownButton" class="focus:outline-none">
            <img
              th:src="@{${user.image}}"
              alt="Menu"
              class="w-8 h-8 rounded-full"
            />
          </button>
          <div
            id="dropdownMenu"
            class="hidden absolute right-0 top-3 mt-10 w-64 bg-white border rounded shadow-lg p-4"
          >
            <form
              id="imageUploadForm"
              action="/upload"
              method="post"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_csrf" />
              <label for="fileInput">
                <img
                  th:src="@{${user.image}}"
                  alt="Profile"
                  class="w-16 h-16 rounded-full mx-auto cursor-pointer"
                />
              </label>
              <input
                type="file"
                id="fileInput"
                name="profileImage"
                class="hidden"
                onchange="document.getElementById('imageUploadForm').submit();"
              />
            </form>
            <h3
              class="text-center text-xl font-bold mt-2"
              th:text="${user.name}"
            ></h3>
            <p class="text-center text-gray-600" th:text="${user.email}"></p>
            <div class="mt-3 w-full border-t border-gray-200 pt-3">
              <p
                class="py-2 cursor-pointer hover:bg-gray-100"
                onclick="window.location.href='/logout'"
              >
                Logout
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mx-auto mt-12 text-center">
      <h1 class="text-4xl font-bold">
        Welcome, <span th:text="${user.name}"></span>! avec Role<span
          th:text="${user.role}"
        ></span
        >!
      </h1>
      <p class="text-lg text-gray-600 mt-4">You are now logged in.</p>
    </div>

    <script>
      document
        .getElementById("dropdownButton")
        .addEventListener("click", function () {
          var menu = document.getElementById("dropdownMenu");
          menu.classList.toggle("hidden");
        });

      function hideDropdown(event) {
        var dropdownMenu = document.getElementById("dropdownMenu");
        if (
          !event.target.closest("#dropdownButton") &&
          !event.target.closest("#dropdownMenu")
        ) {
          dropdownMenu.classList.add("hidden");
        }
      }
    </script>
  </body>
</html>
